.btn {
  background-color: #41B883 !important;
  font-weight: bold;
  text-transform: capitalize;

  &:hover {
    background-color: #00A28B !important;
  }
}

.red-btn {
  background-color: red !important;
  font-weight: bold;
  text-transform: capitalize;

  &:hover {
    background-color: #00A28B !important;
  }
}
