.ctn {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 40px;
    font-size: 45px;
}

.p {
    font-size: 20px;
}

.illus {
    margin-top: 20px;
    width: 60%;
}

.toggleBtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: inherit;
    font-family: inherit;
    color: #41B883;
    cursor: pointer;
}

.no-decoration {
    text-decoration: none;
}

.btn-ctn {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .btn {
        background-color: #41B883;
        font-weight: bold;
        text-transform: capitalize;

        &:hover {
            background-color: #00A28B;
        }
    }
}